.contactHead {
  color: white;
  font-size: 35px;
  padding-left: 5%;
}

.email {
  color: white;
  border: 2px solid chartreuse;
  font-size: 20px;
  background-color: #333;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.phone {
  margin-top: 30px;
  color: white;
  width: fit-content;
  font-size: 20px;
  border: 2px solid chartreuse;
  background-color: #333;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 12%;
  margin-right: 10%;
}
